<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

<html ng-app="app">
<div ui-view></div>

<center>
    <div ng-show="loading" style="font-size:25px;">&nbsp
        Loading...
    </div>
    <div ng-show="error" style="font-size:25px;">
        Something went wrong
    </div>
</center>
</html>

<script>
    (function () {
        angular
                .module('app', ['ui.router']);

        angular.module('app')
                .run(myConfig);

        function myConfig($rootScope) {
            $rootScope.myConfig = {
                heroku: 'http://coolworld.herokuapp.com/',
                local: 'http://localhost:3000/'
            }
        }

        angular
                .module('app')
                .config(routeConfig);
				
		routeConfig.$inject = ['$stateProvider', '$urlRouterProvider'];
		
        function routeConfig($stateProvider, $urlRouterProvider) {

            $urlRouterProvider.otherwise('/root');
            $stateProvider
                    .state('root', {
                        url: '/root',
                        data: {
                            requireLogin: true
                        },
                        views: {
                            '': {
                                template: '<div ui-view="main"></div>' +
                                '<div ui-view="display"></div>'
                            },
                            'main@root': {
                                template: '<center>' +
                                '<hr>{{ ctx.name }}<hr>' +
                                '<select ng-model="ctx.selectedItem"' +
                                'ng-options="option.name for option in ctx.options"' +
                                'ng-change="ctx.updateChange(ctx.selectedItem)">' +
                                '</select>' +
                                '<hr>' +
                                '<select ng-model="ctx.selectedItem1"' +
                                'ng-options="option.name for option in ctx.options1"' +
                                'ng-change="ctx.updateChange(ctx.selectedItem1)">' +
                                '</select><hr>' +

                                '<div ng-show="ctx.loading" style="font-size:25px;">&nbsp' +
                                'Loading...' +
                                '</div>' +

                                '<div ng-show="ctx.error" style="font-size:25px;">' +
                                'Something went wrong' +
                                '</div>',
                                controller: 'mainCtrl',
                                controllerAs: 'ctx'
                            },
                            'display@root': {
                                template: ''
                            }
                        }
                    })

                    .state('root.clients', {
                        url: '/clients',
                        views: {
                            'display': {
                                template: '<div><center>' +
                                '<table border=1>' +
                                '<tr ng-repeat="item in usersCtrl.items">' +
                                '<td ng-click="usersCtrl.updateUser(item)">&nbsp E &nbsp</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.id}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.name}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.pass}}</td>' +
                                '<td ng-click="usersCtrl.delUser(item)">&nbsp X &nbsp</td>' +
                                '</tr>' +
                                '</table>' +
                                '</div>',
                                resolve: {
                                    results: resolveResource('http://coolworld.herokuapp.com/api/clients/get')
                                },
                                controller: 'UsersCtrl',
                                controllerAs: 'usersCtrl'
                            }
                        }
                    })

                    .state('root.goods', {
                        url: '/goods',
                        views: {
                            'display': {
                                template: '<div><center>' +
                                '<table border=1>' +
                                '<tr ng-repeat="item in usersCtrl.items">' +
                                '<td ng-click="usersCtrl.updateUser(item)">&nbsp E &nbsp</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.id}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.name}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.pass}}</td>' +
                                '<td ng-click="usersCtrl.delUser(item)">&nbsp X &nbsp</td>' +
                                '</tr>' +
                                '</table>' +
                                '</div>',
                                resolve: {
                                    results: resolveResource('http://coolworld.herokuapp.com/api/goods/get')
                                },
                                controller: 'UsersCtrl',
                                controllerAs: 'usersCtrl'
                            }
                        }
                    })

                    .state('root.inputs', {
                        url: '/inputs',
                        views: {
                            'display': {
                                template: '<div><center>' +
                                '<table border=1>' +
                                '<tr ng-repeat="item in usersCtrl.items">' +
                                '<td ng-click="usersCtrl.updateUser(item)">&nbsp E &nbsp</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.id}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.name}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.pass}}</td>' +
                                '<td ng-click="usersCtrl.delUser(item)">&nbsp X &nbsp</td>' +
                                '</tr>' +
                                '</table>' +
                                '</div>',
                                resolve: {
                                    results: resolveResource('http://coolworld.herokuapp.com/api/inputs/get')
                                },
                                controller: 'UsersCtrl',
                                controllerAs: 'usersCtrl'
                            }
                        }
                    })
					
                    .state('root.invoicein', {
                        url: '/invoicein',
                        views: {
                            'display': {
                                template: '<div><center>' +
                                '<table border=1>' +
                                '<tr ng-repeat="item in usersCtrl.items">' +
                                '<td ng-click="usersCtrl.updateUser(item)">&nbsp E &nbsp</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.id}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.invoiceID}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.goods}}</td>' +
                                '<td ng-click="usersCtrl.delUser(item)">&nbsp X &nbsp</td>' +
                                '</tr>' +
                                '</table>' +
                                '</div>',
                                resolve: {
                                    results: resolveResource('http://coolworld.herokuapp.com/api/invoicein/get')
                                },
                                controller: 'UsersCtrl',
                                controllerAs: 'usersCtrl'
                            }
                        }
                    })
					
                    .state('root.outputs', {
                        url: '/outputs',
                        views: {
                            'display': {
                                template: '<div><center>' +
                                '<table border=1>' +
                                '<tr ng-repeat="item in usersCtrl.items">' +
                                '<td ng-click="usersCtrl.updateUser(item)">&nbsp E &nbsp</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.id}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.name}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.pass}}</td>' +
                                '<td ng-click="usersCtrl.delUser(item)">&nbsp X &nbsp</td>' +
                                '</tr>' +
                                '</table>' +
                                '</div>',
                                resolve: {
                                    results: resolveResource('http://coolworld.herokuapp.com/api/outputs/get')
                                },
                                controller: 'UsersCtrl',
                                controllerAs: 'usersCtrl'
                            }
                        }
                    })

                    .state('root.invoiceout', {
                        url: '/invoiceout',
                        views: {
                            'display': {
                                template: '<div><center>' +
                                '<table border=1>' +
                                '<tr ng-repeat="item in usersCtrl.items">' +
                                '<td ng-click="usersCtrl.updateUser(item)">&nbsp E &nbsp</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.id}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.invoiceID}}</td>' +
                                '<td ng-click="usersCtrl.findUser(item)">{{item.goods}}</td>' +
                                '<td ng-click="usersCtrl.delUser(item)">&nbsp X &nbsp</td>' +
                                '</tr>' +
                                '</table>' +
                                '</div>',
                                resolve: {
                                    results: resolveResource('http://coolworld.herokuapp.com/api/invoiceout/get')
                                },
                                controller: 'UsersCtrl',
                                controllerAs: 'usersCtrl'
                            }
                        }
                    })	
					
					.state('root.user-edit', {
                        url: '/user-edit',
						params: {item:{}},
                        data: {
                            requireLogin: false
                        },
                        views: {
                            'display': {
                                template: '<div ui-sref1="root.users" ng-click="userEditCtrl.goBack()"><center>' +
								'{{userEditCtrl.id}}<br>'+
								'{{userEditCtrl.name}}<br>'+
								'{{userEditCtrl.pass}}<br>'+
                                '</div>',

                                controller: 'UserEditCtrl',
                                controllerAs: 'userEditCtrl'
                            }
                        }
                    })		
					
                    .state('root.users', {
                        url: '/users',
                        params: {myParam: null},
                        data: {
                            requireLogin: false
                        },
                        views: {
                            'display': {
                                template: '<div><center>' +
                                '<table border=1>' +
                                '<tr ng-repeat="item in usersCtrl.items">' +
                                '<td ng-click="usersCtrl.updateUser(item)">&nbsp E &nbsp</td>' +
                                '<td ng-click="usersCtrl.itemEditForm(item)">{{item.id}}</td>' +
                                '<td ng-click="usersCtrl.itemEditForm(item)">{{item.name}}</td>' +
                                '<td ng-click="usersCtrl.itemEditForm(item)">{{item.pass}}</td>' +
                                '<td ng-click="usersCtrl.delUser(item)">&nbsp X &nbsp</td>' +
                                '</tr>' +
                                '</table>' +
                                '</div>',
                                resolve: {
                                    //results: resolveResource('http://coolworld.herokuapp.com/api/users/get')
                                    results: getUsers()
									
                                },
                                controller: 'UsersCtrl',
                                controllerAs: 'usersCtrl'
                            }
                        }
                    });

			function getUsers() {
				var mode = localStorage.getItem('warehouse_mode');
				if (mode == 'ON-LINE (Heroku)') {
					return resolveResource('http://coolworld.herokuapp.com/api/users/get');
				} else {
					return getUsersOFF();
				}
			}

			function getUsersOFF() {
				function localUsers() {
					var users = localStorage.getItem('warehouse_users');
					users = JSON.parse(users);
					return users;
					}
				return localUsers;
			}
			
            function resolveResource(url) {
                resolver.$inject = ['$http', '$q', '$rootScope'];
                function resolver($http, $q, $rootScope) {
                    return $http.get(url)
                            .then(function (result) {
                                $rootScope.loading = false;
                                return result.data;
                            })
                            .catch(function (reject) {
                                $rootScope.loading = false;
                                $rootScope.error = true;
                                return $q.reject(reject);
                            });
                }

                return resolver;
            }

        }

        angular.module('app')
                .controller('mainCtrl', mainCtrl);

        mainCtrl.$inject = ['$rootScope', '$state'];
        function mainCtrl($rootScope, $state) {
            var vm = this;
            angular.extend(vm, {
                init: init,
                updateChange: updateChange
            });

            init();

            function init() {
                vm.name = 'CoolWorld';
                vm.heroku = $rootScope.myConfig.heroku;
                vm.local = $rootScope.myConfig.local;

                vm.options = [
                    //{name: 'Select server'},
                    {name: 'Heroku'},
                    {name: 'Local'}
                ];
                vm.selectedItem = vm.options[0];

                vm.options1 = [
                    {name: 'Select table'},
                    {name: 'Clients'},
                    {name: 'Goods'},
                    {name: 'Users'},
                    {name: 'Inputs'},
                    {name: 'Outputs'},
                    {name: 'InvoiceIn'},
                    {name: 'InvoiceOut'}
                ];
                vm.selectedItem1 = vm.options1[0];
            }

            function updateChange(val) {
                vm.name = val.name;
                $rootScope.loading = true;
                $rootScope.error = false;
                switch (val.name) {
                    case 'Local':
						var mode = 'OFF-LINE (LocalStorage)';
						localStorage.setItem('warehouse_mode', JSON.stringify(mode));
                        $rootScope.loading = false;
                        break;
                    case 'Heroku':
						var mode = 'ON-LINE (Heroku)';
						localStorage.setItem('warehouse_mode', JSON.stringify(mode));
                        $rootScope.loading = false;
                        break;
                    case 'Select table':
                        vm.name = 'CoolWorld';
                        $rootScope.loading = false;
                        $state.go('root');
                        break;
                    case 'Clients':
                        $state.go('root.clients');
                        break;
                    case 'Goods':
                        $state.go('root.goods');
                        break;
                    case 'Users':
                        $state.go('root.users');
                        break;
                    case 'Inputs':
                        $state.go('root.inputs');
                        break;
                    case 'Outputs':
                        $state.go('root.outputs');
                        break;
                    case 'InvoiceIn':
                        $state.go('root.invoicein');
                        break;
                    case 'InvoiceOut':
                        $state.go('root.invoiceout');
                        break;
                }
            }
        }

        angular
                .module('app')
                .controller('UsersCtrl', UsersCtrl);
				
		UsersCtrl.$inject = ['$state', 'results'];
		
        function UsersCtrl($state, results) {
            var vm = this;
			
			angular.extend(vm, {
            items: results,
            itemEditForm: itemEditForm
			});
			
			function itemEditForm(item) {
				$state.go('root.user-edit', {item: item});
			}
        }
		
        angular
                .module('app')
                .controller('UserEditCtrl', UserEditCtrl);
				
		UserEditCtrl.$inject = ['$state', '$stateParams', '$window'];
        
		function UserEditCtrl($state, $stateParams, $window) {
            var vm = this;
			
			angular.extend(vm, $stateParams.item);
			
			angular.extend(vm, {
            goBack: goBack
			});
			
			function goBack(item) {
				$window.history.back();
				//$state.go('root.users');
			}
        }
		
    })();
</script>