<script src="angular.1.5.7.min.js"></script>
<script src="angular-ui-router.js"></script>
<html ng-app="app">
<div ui-view></div>
</html>

<script>
//-------------------------------------------------------------------------------------
(function() {
	angular
		.module('app', ['ui.router']);
		
//----------------------------------------		
        angular
            .module('app')
            .config(routeConfig);

        function routeConfig($stateProvider, $urlRouterProvider) {
					
			function resolveKaminoGetToken($http, $q, $rootScope) {
				var item = {
					client_id: 'gpQeYeZGke7da9ag6bYpyJIZcaXIJxF2',
					connection: 'Username-Password-Authentication',
					device: '123456789',
					grant_type: 'password',
					password: 'Test1234',
					scope: 'openid offline_access',
					username: 'sergey.sydorenko@wdc.com'
				};
				
				//export const AUTHO_CLIENT_ID = 'gpQeYeZGke7da9ag6bYpyJIZcaXIJxF2';
				//export const AUTHO_CLOUD_ID = '09f3d6a6-c783-458f-8cfb-bad6f97db7c0';
				//export const AUTHO_SECURITY_CODE = 'JB2NODN4P';

				var item1 = {
					client_id: 'gpQeYeZGke7da9ag6bYpyJIZcaXIJxF2',
					connection: 'Username-Password-Authentication',
					device: '123456789',
					grant_type: 'password',
					password: 'Kamino1234',
					scope: 'openid offline_access',
					username: 'kamino.web.team@gmail.com'
				};
				
				var url = 'https://wdc-qa1.auth0.com/oauth/ro';
					return $http.post(url, item)
						.then(function (result) {
							$rootScope.access_token = result.data.access_token;
							$rootScope.id_token = result.data.id_token;
							return result.data;
						})
						.catch(function (reject) {
							return $q.reject(reject);
						});
 			}
			
			function resolveKaminoGetUser($http, $q, $rootScope) {
				var url = 'https://wdc-qa1.auth0.com/userinfo';
				var access_token = $rootScope.access_token;		
				
				return $http.get(url,
					{
						headers: {'Authorization': 'Bearer ' + access_token}
					})
					.then(function (result) {
						return result.data;
					})
					.catch(function (reject) {
						return $q.reject(reject);
					});
 			}
			
			function resolveKaminoGetFiles($http, $q, $rootScope) {
				var deviceURI0 = 'https://qa1-proxy1.wdtest2.com:9443/9ebfcfef-ed18-4c24-8499-44723bfa8560'; //sergey.sydorenko@wdc.com
				var deviceURI1 = 'https://qa1-proxy1.wdtest2.com:9443/1cfbaa2e-e2ea-463a-aaea-840a49a3ea8f'; //kamino.web.team@gmail.com
				var deviceURI = 'https://qa1-proxy1.wdtest2.com:9443/' + $rootScope.deviceId;
				
				$rootScope.deviceURI = deviceURI;
				
				var getFilesURI1 = '/sdk/v2/filesSearch/parents?ids=csGk6-3tumUe0_CdA9yC7DVJXyJy-lYzSR4Vd5j8&limit=1000'; //kamino.web.team@gmail.com
				var getFilesURI2 = '/sdk/v2/filesSearch/parents?ids=cIXlzl1WJ7G5JTGE3-OYPfDeqAbe4c-R-ebtjyLP&limit=1000'; //sirisha.codambakkam@wdc.com

				var getFilesURI = '/sdk/v2/filesSearch/parents?ids=QQMou0b-hYhQVewOA4GmT3QO_tdV0YV7_WzJRw_0&limit=1000';
				var getFilesURI = '/sdk/v2/filesSearch/parents?ids=root&limit=1000';

				if ($rootScope.rootID) {
					getFilesURI = '/sdk/v2/filesSearch/parents?ids=' + $rootScope.rootID + '&limit=1000';
					console.log($rootScope.parentID)
					//$rootScope.rootID = $rootScope.parentID;
				}
				
				return $http.get(deviceURI + getFilesURI, 
					{
						headers: {'Authorization': 'Bearer ' + $rootScope.id_token}
					})
					.then(function (result) {
						//console.log(result.data.files.sort(sort));
						if (result.data.files) {
							result.data.files.sort(sort);
						}
						return result.data.files;
					})
					.catch(function (reject) {
						return $q.reject(reject);
					});
 			}
			
			function sort(a, b) {
				var nameA = a.name.toLowerCase(), nameB = b.name.toLowerCase();
				if (nameA < nameB) {
					return -1
				}
				if (nameA > nameB) {
					return 1
				}
				return 0;
			}	
		
            $urlRouterProvider.otherwise('/home');	
			
			$stateProvider
					.state('home', {
                        url: '/home',
 						template: '<header title="Home"></header>' +
								  '<home-component></home-component>',
                     })	
				 
                    .state('kamino-get-token', {
                        url: '/kamino-get-token',
 						template: '<header title="Kamino Get Token"></header>' + 
								  '<kamino-component-get-token token="$resolve.token"></kamino-component-get-token>',
						resolve: {
							token: resolveKaminoGetToken
						}
                     })		
					 
                    .state('kamino-get-user', {
                        url: '/kamino-get-user',
 						template: '<header title="Kamino Get User"></header>' + 
								  '<kamino-component-get-user user="$resolve.user"></kamino-component-get-user>',
						resolve: {
							user: resolveKaminoGetUser
						}
                     })	
					 
                    .state('kamino-get-files', {
                        url: '/kamino-get-files',
 						template: '<header title="Kamino Get Files"></header>' + 
								  '<kamino-component-get-files files="$resolve.files"></kamino-component-get-files>',
						resolve: {
							files: resolveKaminoGetFiles
						}
                     })	
					 
                    .state('kamino-file-details', {
                        url: '/kamino-file-details',
						params: {file: {}},
 						template: '<header title="Kamino File Details"></header>' + 
								  '<kamino-component-file-details></kamino-component-file-details>'
                     })						 
		 }
		 
//----------------------------------------	
 	angular
		.module('app')
		.component('header', {
			template: '<div ng-click="vm.fileDetails()"><hr>' +
				'<a style="color:blue" ui-sref="home">Home</a>&nbsp&nbsp' +
				'<a style="color:blue" ui-sref="kamino-get-token">Get token</a>&nbsp&nbsp' +
				'<a style="color:blue" ui-sref="kamino-get-user">Get user</a>&nbsp&nbsp' +
				'<a style="color:blue" ui-sref="kamino-get-files">Get files</a>' +
				'&nbsp&nbsp&nbsp&nbsp&nbsp <b>{{vm.title}}</b>' +
				'<hr></div>',

			bindings: {title: '@'}, 
			controllerAs: 'vm',
			controller: controller
		});
		
		function controller($state) {
			var vm = this;
		
			angular.extend(vm, {
				fileDetails: fileDetails
			});
			
			function fileDetails(item) {
				$state.go('kamino-file-details', {file: {name:'xxx'}});
			}
		}		 

//----------------------------------------	
 	angular
		.module('app')
		.component('homeComponent', {
			template: '<div> <strong>Login</strong><hr>' +
				'<form autocomplete="off">' +
				'<input type="text" style="width: 200px;" ng-model="vm.login"><br><br>' +
				'<input type="password" style="width: 200px;" ng-model="vm.pass"><br><br>' +
				'<input type="button" value="Login" ng-click="vm.onClick()">' +
				'</div>',
			controllerAs: 'vm',
			controller: HomeCtrl
		});
				
		function HomeCtrl($http, $q, $rootScope, $state) {
			var vm = this;
		
			angular.extend(vm, {
				init: init,
				onClick: onClick
			});
			
			init();		
			
			function init() {
				//vm.login = 'sergey.sydorenko@wdc.com';
				//vm.pass = 'Test1234';				
				
				vm.login = 'kamino.web.team@gmail.com';
				vm.pass = 'Kamino1234';

				//kamino.web.team@gmail.com - Kamino1234
				//sergey.sydorenko@wdc.com - Test1234
				//sirisha.codambakkam@wdc.com - Test1234
			}
			
			function onClick() {
				console.log(vm.login + ' - ' + vm.pass);
				
				var item = {
					client_id: 'gpQeYeZGke7da9ag6bYpyJIZcaXIJxF2',
					connection: 'Username-Password-Authentication',
					device: '123456789',
					grant_type: 'password',
					password: vm.pass,
					scope: 'openid offline_access',
					username: vm.login
				};
								
				var url = 'https://wdc-qa1.auth0.com/oauth/ro';
					return $http.post(url, item)
						.then(function (result) {
							$rootScope.access_token = result.data.access_token;
							$rootScope.id_token = result.data.id_token;
								
								return $http.get('https://wdc-qa1.auth0.com/userinfo',
									{
										headers: {'Authorization': 'Bearer ' + $rootScope.access_token}
									})
									.then(function (result) {
										$rootScope.user_id = result.data.user_id;

										return $http.get('https://qa1-device.remotewd1.com/device/v1/user/' + $rootScope.user_id, 
											{
												headers: {'Authorization': 'Bearer ' + $rootScope.id_token}
											})
											.then(function (result) {
												$rootScope.deviceId = result.data.data[0].deviceId;

												$state.go('kamino-get-files');
												//return result.data;
											})
											.catch(function (reject) {
												return $q.reject(reject);
											});
										//return result.data;
									})
									.catch(function (reject) {
										return $q.reject(reject);
									});
																				
							//return result.data;
						})
						.catch(function (reject) {
							return $q.reject(reject);
						});
			}
		}	
		
//----------------------------------------	
 	angular
		.module('app')
		.component('kaminoComponentGetToken', {
			template: '<div> id_token: {{vm.token.id_token}}<hr>' +
				'access_token: {{vm.token.access_token}}<hr>' +
				'refresh_token: {{vm.token.refresh_token}}<hr>' +		
				'token_type: {{vm.token.token_type}}<hr>' +						
				'</div>',
			bindings: {token: '<'}, 
			controllerAs: 'vm',
			controller: TokenCtrl
		});
		
		function TokenCtrl() {
			var vm = this;
			console.log(vm.token);
		}	
		
//----------------------------------------	
 	angular
		.module('app')
		.component('kaminoComponentGetUser', {
			template: '<div>' +
				'<img ng-src="{{vm.user.picture}}" width=100 height=100><hr>' +
				'Email: {{vm.user.email}}<br>' +
				'Name: {{vm.user.name}}<br>' +
				'Nickname: {{vm.user.nickname}}<br>' +
				'ClientID: {{vm.user.clientID}}<br>' +
				'Created_at: {{vm.user.created_at}}<br>' +
				'Email_verified: {{vm.user.email_verified}}<br>' +
				'Scope: {{vm.user.scope}}<br>' +
				'Sub: {{vm.user.sub}}<br>' +
				'Updated_at: {{vm.user.updated_at}}<br>' +
				'User_id: {{vm.user.user_id}}<br>' +
				'</div>',
			bindings: {user: '<'}, 
			controllerAs: 'vm',
			controller: UserCtrl
		});
		
		function UserCtrl() {
			var vm = this;
			console.log(vm.user);
		}
		
//----------------------------------------	
 	angular
		.module('app')
		.component('kaminoComponentGetFiles', {
			template: '<div ng-if="!vm.files">' +
				'Folder is empty' +
				'</div>' + 
			'<div ng-repeat="file in vm.files">' +
				'<div ng-if="file.mimeType != \'application/octet-stream\'" ' +
				'<div ng-click="vm.fileDetails(file)">' +
					'<img ng-src="{{vm.getThumbnailURI(file)}}" width=100 height=100>' +
					'{{file.name}}' +
					'   -   {{file.size/1024 | number:2}} Kb' +
					'<hr>' +
				'</div>' +
				'</div>' +
				'</div>',
			bindings: {files: '<'}, 
			controllerAs: 'vm',
			controller: FilesCtrl
		});
		
		function FilesCtrl($rootScope, $state) {
			var vm = this;
			angular.extend(vm, {
				getThumbnailURI: getThumbnailURI,
				fileDetails: fileDetails
			});
					
			console.log(vm.files);
			
			function fileDetails(item) {
				$state.go('kamino-file-details', {file: item});
			}
			
			function getThumbnailURI(item, size = 400) {
				var fileId = item.id;
				var uri;
				
				if (item.mimeType == 'application/x.wd.dir') {
					uri = './folder.png';
					return uri;
				}
				
				if (!item.extension || item.extension == '.txt' || item.extension == ".pptx") {
					uri = './no-img.png';
					return uri;
				}				
								
				uri = $rootScope.deviceURI + 
					'/sdk/v2/files/' + fileId + 
					'/content?width=' + size + 
					'&height=' + size + 
					'&access_token=' + $rootScope.id_token;
				return uri;
			}
		}			
//----------------------------------------	
 	angular
		.module('app')
		.component('kaminoComponentFileDetails', {
			template: '<div ng-if="!vm.size">' +
				'Loading...' +
				'</div>' +
				
				'<div ng-if="vm.size">' +
					'<div ng-if="(vm.extension == \'.jpg\') || (vm.extension == \'.avi\') ' +
						'|| (vm.extension == \'.mp4\') || (vm.extension == \'.m4v\') ' +						
						'|| (vm.extension == \'.mov\') || (vm.extension == \'.mkv\') ' +
						'">' +
						'<img ng-src="{{vm.getThumbnailURI()}}" width=300 height=300><hr>' +
					'</div>' +		

					'<div ng-if="(vm.extension != \'.jpg\') && (vm.extension != \'.avi\') ' +
						'&& (vm.extension != \'.mp4\') && (vm.extension != \'.m4v\') ' +
						'&& (vm.extension != \'.mov\') && (vm.extension != \'.mkv\') ' +
						'">' +
						'<img ng-src="./no-img.png" width=300 height=300><hr>' +
					'</div>' +		
				
					'<div>' +
						'<b>Name:</b> {{vm.name}}<br>' +
						'<b>Extension:</b> {{vm.extension}}<br>' +		
						'<b>MimeType:</b> {{vm.mimeType}}<br>' +		
						'<b>mTime:</b> {{vm.mTime}}<br>' +		
						'<b>Size:</b> {{vm.size}}<hr>' +				
						'<b>ID:</b> {{vm.id}}<br>' +
						'<b>ParentID:</b> {{vm.parentID}}<br>' +				
						'<b>eTag:</b> {{vm.eTag}}<br>' +
						'<b>PrivatelyShared:</b> {{vm.privatelyShared}}<br>' +
						'<b>PubliclyShared:</b> {{vm.publiclyShared}}<br>' +
					'</div>' +
 				'</div>',
			controllerAs: 'vm',
			controller: FileDetailsCtrl
		});
		
		function FileDetailsCtrl($rootScope, $stateParams, $state) {
			var vm = this;
			angular.extend(vm, {
				init: init,
				getThumbnailURI: getThumbnailURI
			});
			
			angular.extend(vm, $stateParams.file);			
			
			init();		
			
			function init() {
			console.log(vm);
				if (!vm.mimeType || vm.mimeType == 'application/x.wd.dir') {
					$rootScope.rootID = vm.id;
					$rootScope.parentID = vm.parentID;
					$state.go('kamino-get-files');
				}
			}
			
			function getThumbnailURI(item, size = 400) {
				var fileId = vm.id;
				var uri;
 
				uri = $rootScope.deviceURI + 
					'/sdk/v2/files/' + fileId + 
					'/content?width=' + size + 
					'&height=' + size + 
					'&access_token=' + $rootScope.id_token;
				console.log(uri);	
				return uri;
			}	
			
		}			
})();
//-------------------------------------------------------------------------------------
</script>