<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.min.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    ::-webkit-scrollbar {
        display: none;
    }

    html {
        background: #f6f6f6;
        overflow: hidden;
    }

    body {
        background: white;
        margin: 0;
        padding: 0;
    }

    .top {
        position: fixed;
        top: 0px;
        width: 100%;
        display: block;
        background: white;
        padding: 5px;
        height: 85px;
        color: #ef835d;
        font-size: 200%;
        text-align: center;
        border-bottom: 1px solid #d1d1d1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    }

    .middle {
        background: #f6f6f6;
        /*margin-top: 50px;*/
        width: 100%;
        height: 100%;
        color: #ef835d;
        color: red;
        font-size: 200%;
        text-align: center;
        overflow-y: scroll;
        border-top: 1px solid #d1d1d1;
    }

    .bottom {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: red;
        padding: 5px;
        height: 40px;
        color: white;
        font-size: 30px;
        text-align: center;
        border-top: 1px solid #d1d1d1;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.2s;
        padding-top: 60px;
        box-shadow: rgba(0, 0, 0, 0.35) 3px 0px 10px 0px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.2s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 5px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .2s;
    / / padding: 16 px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }

    ul {
        padding-inline-start: 0;
        font-size: 25px;
        /*text-shadow: #000 0.15em 0.15em 0.15em;*/
    }

    li {
        list-style-type: none;
        color: white;
        padding: 20px;
        border-bottom: solid 1px black;
    }

    li:hover {
        background: whitesmoke;
        color: black;
    }

    .active {
        background: white;
        color: black;
    }
</style>

<div id="app">
    <div id="mySidenav" class="sidenav">
        <div style="
        color: white;
        margin-top: -48px;
        margin-left: 12px;
        font-size: 30px;
        width: 200px;">
            Test for WhaleApp by Eduard Tkachuk
        </div>
        <ul>
            <a href="" class="closebtn" onclick="event.preventDefault();closeNav()"> &times;</a>

            <li v-on:click="changeRoute('home')" v-bind:class="{ active: home }">
                <i class="fa fa-fw fa-home"></i><span style="margin: 15px;">Home</span></li>

            <li v-on:click="changeRoute('item-add')" v-bind:class="{ active: add }">
                <i class="fa fa-fw fa-plus"></i><span style="margin: 15px;">Add</span></li>

        </ul>
    </div>

    <div class="top">
        <top></top>
    </div>

    <div class="bottom">
        <bottom></bottom>
    </div>

    <div id="main">
        <div class="middle">
            <router-view></router-view>
        </div>
    </div>
</div>

<script>
    const appConfig = new Vue();

    appConfig.route = 'home';

    const Home = {template: '<dummy-items></dummy-items>'};
    const Dummy = {template: '<dummy-items></dummy-items>'};
    const DummyEdit = {template: '<dummy-edit></dummy-edit>'};
    const DummyAdd = {template: '<dummy-add></dummy-add>'};

    Vue.component('home', {
        template: `<div>
                        <div style="margin-top: 100px; color: black">
                            Компания CoolWorld разрабатывает приложения Android и iOS
                        </div>

                        <div style="margin-top: 0px; color: black">
                            любого уровня сложности для работы
                        </div>

                        <div style="margin-top: 0px; color: black">
                            с базами данных и готовыми учетными системами.
                        </div>

                        <div style="margin-top: 30px; color: black">
                        Примеры работ для Android:
                        <a href="https://play.google.com/store/apps/details?id=com.rnbox1" target="_blank" style="color: blue;">Google
                        play market</a>
                        </div>

                        <div style="margin-top: 10px; color: black">
                        Примеры работ для iOS:
                        <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=1154030318&mt=8"
                        target="_blank"
                        style="color: blue;">App store</a>
                        </div>

                        <div style="margin-top: 30px; color: black">
                        Наши контакты:
                        </div>

                        <div style="margin-top: 10px; color: black">
                        E-mail: wintermute2009@ukr.net
                        </div>

                        <div style="margin-top: 10px; color: black">
                        Будем рады сотрудничать!
                        </div>
                    </div>`,
        data: function() {
            return {}
        },
        created() {
        },
        methods: {}
    });

    Vue.component('top', {
        template: `<div><div style="float: left; margin: 20px; margin-top: 4px;">
            <span style="font-size:30px;cursor:pointer; color: black" onclick="openNav()">&#9776;</span>
        </div>
        <div style="margin-top: 15px; color: red; font-size: 50px;margin-right: 100px;">
            <form class="search-form" id="search" style="">
                <label>
                    <input type="text" style="font-size: 24px;
                    height: 50px; width1: 400px;padding: 20px;border-radius: 7px;
                    border: 1px solid rgba(0,0,0,.15);margin-top: 2px;outline:none;"
                    placeholder="Search by name"
                           v-model="searchQuery" v-on:click="searchClear" v-on:keyup="changeView">

                </label>
<div style="margin-top: -39px;
    font-size: 30px;
    margin-left: 230px;
    color: black;
    margin-right: -60px;"><i class="fa fa-fw fa-search"></i></div>
            </form>
        </div>
        </div>`,
        data() {
            return {
                searchQuery: ''
            }
        },
        methods: {
            changeView() {
                appConfig.$emit('searchQuery', this.searchQuery)
            },
            searchClear() {
                this.searchQuery = '';
                appConfig.$emit('searchQuery', this.searchQuery)
            }
        }
    });

    Vue.component('bottom', {
        template: `<div>
            Records: {{count}}
        </div>`,
        data() {
            return {
                count: 0
            }
        },
        created() {
            appConfig.$on('itemsCount', itemsCount => {
                this.count = itemsCount
            })
        },
        methods: {
            addItem() {
                this.$router.push('user-add')
            }
        }
    });

    Vue.component('dummy-items', {
        template: `<div>
                        <div v-if="loading">
                            <div
                              style="position: relative; top: 250px; -webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box; font-size:54px">
                              <img src="./loading.gif" alt="">
                            </div>
                        </div>
                      <div v-if="!loading">
                        <div style="margin-top: 100px;margin-bottom: 50px;">
                            <ul><li style="color: black;" v-for="item in items" v-on:click="showDetails(item)">{{ item.id }} - {{ item.employee_name }} - {{ item.employee_age }} - {{ item.employee_salary }}</li></ul>
                        </div>
                       </div>
                      </div>`,
        data: function() {
            return {
                items: [],
                searchQuery: '',
                filteredItems: [],
                loading: true
            }
        },
        created() {
            this.fetchData();
            appConfig.$on('searchQuery', searchQuery => {
                let arr = [].concat(appConfig.items);
                let items = arr.filter((el) => el.employee_name.toLowerCase().indexOf(searchQuery.toLowerCase()) !== -1);
                this.filteredItems = items;
                this.items = items;

                appConfig.$emit('itemsCount', items.length);
                if (searchQuery === '') {
                    this.items = appConfig.items;
                    this.filteredItems = appConfig.items
                }
            })
        },
        methods: {
            fetchData() {
                appConfig.message = 'Loading...';
                this.$http.get('http://dummy.restapiexample.com/api/v1/employees')
                    .then(result => {
                        this.items = JSON.parse(result.data);
                        this.filteredItems = JSON.parse(result.data);
                        appConfig.items = this.filteredItems;
                        this.loading = false;
                        appConfig.$emit('itemsCount', this.items.length);
                    });

            },
            showDetails(item) {
                appConfig.item = item;
                this.$router.push('item-edit');
                console.log('hello');
            },
        }
    });

    Vue.component('dummy-edit', {
        props: ['item'],
        template: `<div style="text-align: center;margin-top: 120px;">
            <div style="font-size: 40px;
                        color: black;
                        font-weight: bolder;
                        margin: 20px;">{{ title }}</div>

            <span style="font-size: 24px; color: black;">ID:</span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 40px;"
            v-model="id" readonly><br>

            <span style="font-size: 24px; color: black;margin-left: -33px;">Name:</span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 40px;"
            placeholder="Name"
            v-on:keypress="clearWarning"
            v-model="employee_name" ><br>

            <span style="font-size: 24px; color: black;margin-left: -19px;">Age:</span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 40px;"
            placeholder="Age"
            v-on:keypress="clearWarning"
            v-model="employee_age" ><br>

            <span style="font-size: 24px; color: black;margin-left: -41px;">Salary:</span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 40px;"
            placeholder="Salary"
            v-on:keypress="clearWarning"
            v-model="employee_salary" ><br>

            <div style="font-weight: bold; font-size: 18px; color: #dc3545; margin-bottom: 20px; text-align: center;">
                <span v-show="invalidValue" style="margin-left: 0px;">Value required - please provide.</span>
            </div>

            <button style="font-size: 24px;
                            height: 50px;
                            width: 150px;
                            border-radius: 5px;
                            background: red;
                            color: white;outline:none;"
            v-on:click="updateItem">Update</button>

            <button style="font-size: 24px;
                            height: 50px;
                            width: 150px;
                            border-radius: 5px;
                            background: red;
                            color: white;outline:none;"
            v-on:click="deleteItem">Delete</button><br>

            <button style="font-size: 24px;
                            height: 50px;
                            width: 150px;
                            border-radius: 5px;
                            background: red;
                            color: white;outline:none;margin-top: 20px;"
            v-on:click="goBack">Back</button>
            </div>`,
        data: function() {
            return {
                id: '',
                title: '',
                employee_name: '',
                employee_age: '',
                employee_salary: '',
                invalidValue: false
            }
        },
        created() {
            if (!appConfig.item) {
                this.$router.push('/home');
            } else {
                this.init();
            }
        },
        methods: {
            init() {
                this.id = appConfig.item.id;
                this.title = appConfig.item.employee_name;
                this.employee_name = appConfig.item.employee_name;
                this.employee_age = appConfig.item.employee_age;
                this.employee_salary = appConfig.item.employee_salary;
                appConfig.$emit('itemsCount', 1);
            },
            goBack() {
                this.$router.push('/home');
            },
            updateItem() {
                if (this.employee_name === '') {
                    this.invalidValue = true
                }

                if (this.employee_age === '') {
                    this.invalidValue = true
                }

                if (this.employee_salary === '') {
                    this.invalidValue = true
                }

                if (this.invalidValue) {
                    return
                }

                appConfig.message = 'Loading...';
                this.$http.put('http://dummy.restapiexample.com/api/v1/update/' + this.id,
                    {
                        name: this.employee_name,
                        age: this.employee_age,
                        salary: this.employee_salary,
                    })
                    .then(result => {
                        console.log(result);
                        this.$router.push('/home');
                    })
            },
            deleteItem() {
                appConfig.message = 'Loading...';
                this.$http.delete('http://dummy.restapiexample.com/api/v1/delete/' + this.id)
                    .then(result => {
                        console.log(result);
                        this.$router.push('/home');
                    })
            },
            clearWarning () {
                this.invalidValue = false;
            }
        }
    });

    Vue.component('dummy-add', {
        props: ['item'],
        template: `<div style="text-align: center;margin-top: 120px;">
            <div style="font-size: 40px;
                        color: black;
                        font-weight: bolder;
                        margin: 20px;">New record</div>

            <span style="font-size: 24px; color: black;margin-left: -33px;">Name:</span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 40px;"
            placeholder="Name"
            v-on:keypress="clearWarning"
            v-model="employee_name" ><br>

            <span style="font-size: 24px; color: black;margin-left: -19px;">Age:</span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 40px;"
            placeholder="Age"
            v-on:keypress="clearWarning"
            v-model="employee_age" ><br>

            <span style="font-size: 24px; color: black;margin-left: -41px;">Salary:</span>
            <input style="font-size: 24px;height: 50px;padding: 20px;border-radius: 7px;
            border: 1px solid rgba(0,0,0,.15);margin-top: 2px; margin-bottom: 20px;
            width: 450px;outline:none;margin-right: 40px;"
            placeholder="Salary"
            v-on:keypress="clearWarning"
            v-model="employee_salary"><br>

            <div style="font-weight: bold; font-size: 18px; color: #dc3545; margin-top: 0px; text-align: center;">
                <span v-show="invalidValue" style="margin-left: 0px;">Value required - please provide.</span>
            </div>

            <button style="font-size: 24px;
                            height: 50px;
                            width: 150px;
                            border-radius: 5px;
                            background: red;
                            color: white;outline:none;"
            v-on:click="addItem">Submit</button>

            <button style="font-size: 24px;
                            height: 50px;
                            width: 150px;
                            border-radius: 5px;
                            background: red;
                            color: white;outline:none;margin-top: 20px;"
            v-on:click="goBack">Back</button>


            </div>`,
        data: function() {
            return {
                id: '',
                title: '',
                employee_name: '',
                employee_age: '',
                employee_salary: '',
                invalidValue: false
            }
        },
        created() {
            this.init()
        },
        methods: {
            init() {
                appConfig.$emit('itemsCount', 1);
            },
            goBack() {
                this.$router.push('/home');
            },
            addItem() {
                if (this.employee_name === '') {
                    this.invalidValue = true
                }

                if (this.employee_age === '') {
                    this.invalidValue = true
                }

                if (this.employee_salary === '') {
                    this.invalidValue = true
                }

                if (this.invalidValue) {
                    return
                }

                appConfig.message = 'Loading...';
                this.$http.post('http://dummy.restapiexample.com/api/v1/create',
                    {
                        name: this.employee_name,
                        age: this.employee_age,
                        salary: this.employee_salary,
                    })
                    .then(result => {
                        console.log(result);
                        this.$router.push('/home');
                    })
            },
            clearWarning () {
                this.invalidValue = false;
            }
        }
    });

    const routes = [
        {path: '/', component: Dummy},
        {path: '/home', component: Dummy},
        {path: '/item-edit', component: DummyEdit},
        {path: '/item-add', component: DummyAdd}
    ];

    const router = new VueRouter({
        routes
    });


    new Vue({
        el: '#app',
        router,
        data: {
            title: 'Loading...',

            items: [],
            loading: true,
            show: false,
            route: appConfig.route,
            phones: false,
            users: false,
            audit: false
        },
        created() {
            this.init();
        },
        methods: {
            init() {
                this.home = appConfig.route === 'home';
                this.add = appConfig.route === 'item-add';
            },
            changeRoute(route) {
                closeNav();
                appConfig.route = route;
                this.init();
                this.$router.push('/' + route);
                return false
            }
        }

    });

    function openNav() {
        document.getElementById('mySidenav').style.width = '250px';
        //document.getElementById('main').style.marginLeft = '250px';
    }

    function closeNav() {
        document.getElementById('mySidenav').style.width = '0';
        document.getElementById('main').style.marginLeft = '0';
        return false;
    }
</script>

<!--https://www.w3schools.com/howto/howto_js_sidenav.asp-->

 