<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.0.3/vue-resource.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

</head>

<body>
<div id="app">
    <template>
        <div class="page-container">
            <md-app md-mode="fixed">
                <md-app-toolbar class="md-primary">
                    <md-button class="md-icon-button" @click="menuVisible = !menuVisible">
                        <md-icon>menu</md-icon>
                    </md-button>
                    <!--<span class="md-title">Base 09</span>-->
                </md-app-toolbar>

                <md-app-drawer :md-active.sync="menuVisible" md-persistent1="mini"
                               style="background: black; background1: linear-gradient(45deg, black, transparent)">
                    <md-toolbar class="md-transparent" md-elevation="0"
                                style="color: white;font-size: 20px;font-weight: 500;">Base 09
                    </md-toolbar>

                    <md-list @click="menuVisible = !menuVisible" style="background: black; color: white">
                        <md-divider style="background: white"></md-divider>
                        <md-list-item to="/" style="color: white">
                            <md-icon style="color: white">home</md-icon>
                            <span class="md-list-item-text" style="color: white">Home</span>
                        </md-list-item>
                        <md-divider style="background: white"></md-divider>

                        <md-list-item to="/users-items" style="color: white">
                            <md-icon style="color: white">people</md-icon>
                            <span class="md-list-item-text" style="color: white">Users</span>
                        </md-list-item>
                        <md-divider style="background: white"></md-divider>

                        <md-list-item to="/table">
                            <md-icon style="color: white">camera_alt</md-icon>
                            <span class="md-list-item-text" style="color: white">Pictures</span>
                        </md-list-item>
                        <md-divider style="background: white"></md-divider>

                        <md-list-item to="/list">
                            <md-icon style="color: white">camera</md-icon>
                            <span class="md-list-item-text" style="color: white">List</span>
                        </md-list-item>
                        <md-divider style="background: white"></md-divider>

                        <md-list-item to="/certification-items">
                            <md-icon style="color: white">notifications_active</md-icon>
                            <span class="md-list-item-text" style="color: white">Notifications</span>
                        </md-list-item>
                        <md-divider style="background: white"></md-divider>

                    </md-list>
                </md-app-drawer>

                <md-app-content style="background: #eee">
                    <router-view></router-view>
                </md-app-content>
            </md-app>

            <!--            <md-bottom-bar md-type="shift">
                            <md-bottom-bar-item to="/" id="bottom-bar-item-home" md-label="Home" md-icon="home"></md-bottom-bar-item>
                            <md-bottom-bar-item to="/table" id="bottom-bar-item-pages" md-label="Pictures" md-icon="pages"></md-bottom-bar-item>
                            <md-bottom-bar-item to="/list" id="bottom-bar-item-posts" md-label="List" md-icon="menu"></md-bottom-bar-item>
                            <md-bottom-bar-item to="/base-item-show" id="bottom-bar-item-favorites" md-label="Other" md-icon="favorite"></md-bottom-bar-item>
                        </md-bottom-bar>-->
        </div>
    </template>
</div>

<style lang="scss" scoped>
    .md-app {
        height: 100vh;
        /*max-height: 920px;*/
    }

    .md-drawer {
        width: 230px;
        max-width: calc(100vw - 125px);
    }

    .md-table {
        height: 90vh;
    }

    .md-table-content {
        height: 90vh !important;
        max-height: 90vh !important;
    }
    .md-tabs-navigation {
        background: rgb(238, 238, 238) !important;
    }
    .md-table-cell-container {
        overflow-wrap: break-word !important;
        width: 270px;
        max-width: 270px;
    }
    .md-app-scroller {
        background: rgb(238, 238, 238) !important;
    }
</style>

<script>
    document.cookie = '.AspNetCore.Identity.Application=CfDJ8EEYfbHumMlOvTgWyaJgM1Kp6JbPmuird4F75OgtGVAZZqPpcEizz1ywssS-XYF0p8_z86pHcPKzEUopVBmra6dTTRBOFd_HtKcOW6D1KFhMV3Rs_8rCtjJH43vJqwBaO6j3ETBnjMpnhCSawKEH4iY73hpyzvx4krhZacfaug9cedEPJspd_7mGirjUrTf0pVrjmSu3BSayKwQrDrVMO6NwuGaPpFpaIuhnZQ7dFBc0bsuDdG40X-B9hgmBUV8HaHoCFl61YJLdczJyXwAy-6iOjLiVDNOtg_qNMdeqdpRYEKJXh5If588-CITyTpchLGyD_nlarYYGEiZhTMqqa3rMukzA2AOJFiVpdj3ASNWJl15r7HxGryZU7IkpSWDbV58lGWR0LtRekqJmNbHACp3_66nbv-0uzCHmWDWd6Tc6aKqdoRnaMAiWdUqERZ48AqgKDEZpUvlkn8VnMpgvbXPVmRbBinu9SAq8uPTPyYvesMADe9JgzVVanezrVReUlCqvaCphrAsIhSg7lfucrMtLfMmAQaw9z6XiJkaSdMqraBeR3OaQd-K4EseeZB1alEP5FRSq_hwkNqi0iYpuIeImP6_zHUIuyKchm8BsdY-u0XEdKuKnNFfG-LdZ2wcW6R5R4cS18Ae6e5VQ6iJZFvfwEISXNLr8JuXQXO18R8e1F3un2S73cLarzpzfvXm67E_3YPc_wf2HIjNCqBFpLds'

    const appConfig = new Vue();

    const List = {template: '<listUI></listUI>'};
    const Table = {template: '<tableUI></tableUI>'};
    const Base = {template: '<baseUI></baseUI>'};
    const BaseItemShow = {template: '<baseItemShow></baseItemShow>'};

    const UsersItems = {template: '<users-items></users-items>'};
    const UserAdd = {template: '<user-edit></user-edit>'};
    const UserEdit = {template: '<user-edit></user-edit>'};

    const CertificationItems = {template: '<certification-items></certification-items>'};
    const SelectItems = {template: '<select-items></select-items>'};

    Vue.component('baseUI', {
        template: `
		  <div>
			<md-table v-model="searched" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
			  <md-table-toolbar>
				<div class="md-toolbar-section-start">
				  <h1 class="md-title">Base 09</h1>
				</div>

				<md-field md-clearable class="md-toolbar-section-end">
				  <md-input placeholder="Search by name..." v-model="search" @input="searchOnTable" />
				</md-field>
			  </md-table-toolbar>

<!--		  <md-table-empty-state
				md-label="No users found"
				:md-description="\`No user found for this '' query. Try a different search term or create a new user.\`">
				<md-button class="md-primary md-raised" @click="newUser">Create New User</md-button>
			  </md-table-empty-state>
-->

			  <md-table-empty-state>
                <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
			  </md-table-empty-state>

			  <md-table-row slot="md-table-row" slot-scope="{ item }" v-on:click="showDetails(item)">
<!--				<md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>-->
				<md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>

				<md-table-cell md-label="Phone" md-sort-by="phone">{{ item.phone }}</md-table-cell>
				<md-table-cell md-label="Street" md-sort-by="street">{{ item.street }}</md-table-cell>
				<md-table-cell md-label="House" md-sort-by="house">{{ item.house }}</md-table-cell>
				<md-table-cell md-label="Apt" md-sort-by="apt">{{ item.apt }}</md-table-cell>
				<md-table-cell md-label="Index" md-sort-by="index">{{ item.index }}</md-table-cell>
			  </md-table-row>
			</md-table>
  		</div>`,
        data: () => ({
            items: [],
            filteredItems: [],
            recordsCount: 20,
            positionY: 0,
            search: null,
            searched: [],
        }),
        created() {
            this.getItems();
            this.searched = this.items
        },
        methods: {
            getItems() {
                this.$http.get('http://ui-base.herokuapp.com/api/items/get')
                    .then(result => {
                        this.items = result.data.splice(0, 100);
                        this.filteredItems = result.data.splice(0, 100);
                        this.searched = this.items;
                        setTimeout(() => {
                            //document.querySelector('.md-table-content').addEventListener('scroll', this.handleScroll)
                        }, 100)
                    })
                    .catch(error => {
                    });
            },
            sort(a, b) {
                return parseInt(b.id) - parseInt(a.id);
            },
            handleScroll () {
                let position = document.querySelector('.md-table-content').scrollTop;
                let items, positionY, recordsCount;
                recordsCount = this.recordsCount;
                positionY = this.positionY;
                //console.log(positionY, ' - ' ,recordsCount)
                items = this.filteredItems.slice(0, recordsCount);
                if (position > positionY) {
                    this.items = items;
                    this.searched = items;
                    this.recordsCount = recordsCount + 10;
                    this.positionY = positionY + 200;
                }
            },
            newUser() {
                window.alert('Noop')
            },
            searchOnTable() {
                this.searched = this.searchByName(this.filteredItems, this.search)
            },
            searchByName(items, term) {
                if (term) {
                    return items.filter(item => this.toLower(item.name).includes(this.toLower(term)))
                }
                return items
            },
            toLower(text) {
                return text.toString().toLowerCase()
            },
            showDetails(item) {
                appConfig.item = item;
                this.$router.push('base-item-show');
            },
        }
    });

    Vue.component('baseItemShow', {
        template: `
		    <div style="width:500px; margin: auto; padding-top: 5vh; min-width: 300px">
                <form novalidate class="md-layout" @submit.prevent="saveUser">
                  <md-card class="md-layout-item md-size-100 md-small-size-50">
                    <md-card-header>
                      <div class="md-title">{{ form.title }}</div>
                    </md-card-header>
<!--
                    <md-card-content>
                      <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="first-name">First Name</label>
                            <md-input name="first-name" id="first-name" autocomplete="given-name" v-model="form.firstName" :disabled="sending" />

                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="last-name">Last Name</label>
                            <md-input name="last-name" id="last-name" autocomplete="family-name" v-model="form.lastName" :disabled="sending" />

                          </md-field>
                        </div>
                      </div>

                      <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="gender">Gender</label>
                            <md-select name="gender" id="gender" v-model="form.gender" md-dense :disabled="sending">
                              <md-option></md-option>
                              <md-option value="M">M</md-option>
                              <md-option value="F">F</md-option>
                            </md-select>
                            <span class="md-error">The gender is required</span>
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="age">Age</label>
                            <md-input type="number" id="age" name="age" autocomplete="age" v-model="form.age" :disabled="sending" />


                          </md-field>
                        </div>
                      </div>

                      <md-field>
                        <label for="email">Email</label>
                        <md-input type="email" name="email" id="email" autocomplete="email" v-model="form.email" :disabled="sending" />


                      </md-field>
                    </md-card-content>
-->

                    <md-card-content>
                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="id">ID</label>
                            <md-input name="id" id="id" autocomplete="id" v-model="form.id" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="name">Name</label>
                            <md-input name="name" id="name" autocomplete="name" v-model="form.name" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="phone">Phone</label>
                            <md-input name="phone" id="phone" autocomplete="phone" v-model="form.phone" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="street">Street</label>
                            <md-input name="street" id="street" autocomplete="street" v-model="form.street" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="house">house</label>
                            <md-input name="house" id="house" autocomplete="house" v-model="form.house" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="apt">Apt</label>
                            <md-input name="apt" id="apt" autocomplete="apt" v-model="form.apt" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="index">Postal Codes</label>
                            <md-input name="index" id="index" autocomplete="index" v-model="form.index" :disabled="sending" />
                          </md-field>
                        </div>
                    </md-card-content>

                    <md-progress-bar md-mode="indeterminate" v-if="sending" />

                    <md-card-actions>
                     <!-- <md-button type="submit" class="md-primary" :disabled="sending">Create user</md-button>-->
                      <md-button type="button" class="md-primary" v-on:click="back">Back</md-button>
                    </md-card-actions>
                  </md-card>

                  <md-snackbar :md-active.sync="userSaved" md-position="left">The user {{ lastUser }} was saved with success!</md-snackbar>
                </form>
  		</div>`,
        data: () => ({
            form: {
                title: null,
                id: null,
                name: null,
                phone: null,
                street: null,
                house: null,
                apt: null,
                index: null,
            },
            userSaved: true,
            sending: false,
            lastUser: null
        }),
        created() {
            if (!appConfig.item) {
                this.$router.push('/base');
            } else {
                this.init();
            }
        },
        methods: {
            init() {
                this.form = appConfig.item;
                this.form.title = appConfig.item.name;
            },
            back() {
                this.$router.push('/base');
            },
            clearForm() {
                this.$v.$reset()
                this.form.firstName = null
                this.form.lastName = null
                this.form.age = null
                this.form.gender = null
                this.form.email = null
            },
            saveUser() {
                this.sending = true

                // Instead of this timeout, here you can call your API
                window.setTimeout(() => {
                    this.lastUser = `${this.form.firstName} ${this.form.lastName}`
                    this.userSaved = true
                    this.sending = false
                    this.clearForm()
                }, 1500)
            },

        }
    });

    Vue.component('tableUI', {
        template: `
		  <div>
			<md-table v-model="searched" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
			  <md-table-toolbar>
				<div class="md-toolbar-section-start">
				  <h1 class="md-title">Pictures</h1>
				</div>

				<md-field md-clearable class="md-toolbar-section-end">
				  <md-input placeholder="Search by name..." v-model="search" @input="searchOnTable" />
				</md-field>
			  </md-table-toolbar>

			  <md-table-empty-state>
                <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
			  </md-table-empty-state>

			  <md-table-row slot="md-table-row" slot-scope="{ item }" v-on:click="showDetails(item)">
			    <md-table-cell md-label="Pic" md-sort-by="pic"><md-avatar style1="width: 16px;height: 15px;">
				  <img :src="item.pic" alt="People">
				</md-avatar></md-table-cell>
				<md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>
				<md-table-cell md-label="Category" md-sort-by="category">{{ item.category }}</md-table-cell>
				<md-table-cell md-label="Description" md-sort-by="description">{{ item.description }}</md-table-cell>
			  </md-table-row>
			</md-table>
  		</div>`,
        data: () => ({
            items: [],
            filteredItems: [],
            search: null,
            searched: [],
        }),
        created() {
            this.getItems();
            this.searched = this.items;
        },
        methods: {
            getItems() {
                this.$http.get('http://ui-collection.herokuapp.com/api/items/getAll')
                    .then(result => {
                        this.items = result.data.filter((item) => item.pic);
                        this.filteredItems = result.data.filter((item) => item.pic);
                        this.searched = this.items;
                    })
                    .catch(error => {
                    });
            },
            sort(a, b) {
                return parseInt(b.id) - parseInt(a.id);
            },
            newUser() {
                window.alert('Noop')
            },
            searchOnTable() {
                this.searched = this.searchByName(this.filteredItems, this.search)
            },
            searchByName(items, term) {
                if (term) {
                    return items.filter(item => this.toLower(item.name).includes(this.toLower(term)))
                }
                return items
            },
            toLower(text) {
                return text.toString().toLowerCase()
            },
            showDetails(item) {
                appConfig.item = item;
                this.$router.push('base-item-show');
            },
        }
    });

    Vue.component('listUI', {
        template: `
		<div>
            <md-empty-state v-if="loading" style="padding-top: 35vh;">
                <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
            </md-empty-state>

			<md-list class="md-triple-line" v-for="item in items" v-bind:key="item.id" style="background: rgb(238, 238, 238);">
			  <md-list-item style="background: rgb(238, 238, 238);">
                  <md-card md-with-hover style="width: 400px; margin: auto;">
                        <md-card-header>
                          <div class="md-title">{{item.name}}</div>
                          <div class="md-subhead">{{item.category}}</div>
                          <div class="md-subhead">{{item.group}}</div>
                        </md-card-header>
                        <md-card-content style="margin-left: 55px">
                            <md-avatar style="width: 250px;height: 200px; margin-bottom: 20px;">
                              <img :src="item.pic" alt="People">
                            </md-avatar>
                        </md-card-content>
                  </md-card>
               </md-list-item>
			</md-list>
  		</div>`,
        data: () => ({
            items: [],
            loading: true
        }),
        created() {
            this.getItems();

        },
        methods: {
            getItems() {
                this.$http.get('http://ui-collection.herokuapp.com/api/items/get')
                    .then(result => {
                        this.items = result.data.filter((item) => item.pic);
                        this.loading = false;
                    })
                    .catch(error => {
                    });
            },
            sort(a, b) {
                return parseInt(b.id) - parseInt(a.id);
            },
        }
    });

    Vue.component('select-items', {
        template: `
        <div>

          <md-tabs md-alignment="centered">
            <md-tab id="tab-home" md-label="Home" style="background: rgb(238, 238, 238)">
                <md-content style="height: 80vh;background: rgb(238, 238, 238)">
                  <md-card md-with-hover style="width: 50%; height1: 50vh; margin: auto;">
                  <md-ripple>
                        <md-card-header>
                          <div class="md-title">Card with hover effect</div>
                          <div class="md-subhead">It also have a ripple</div>
                        </md-card-header>

                        <md-card-content>
                                <div class="md-layout-item">
            <!--                      <md-field>
                                    <label for="movies">Movies</label>
                                    <md-select v-model="selectedMovies" name="movies" id="movies" multiple1>
                                      <md-option value="fight-club">Fight Club</md-option>
                                      <md-option value="godfather">Godfather</md-option>
                                      <md-option value="godfather-ii">Godfather II</md-option>
                                      <md-option value="godfather-iii">Godfather III</md-option>
                                      <md-option value="godfellas">Godfellas</md-option>
                                      <md-option value="pulp-fiction">Pulp Fiction</md-option>
                                      <md-option value="scarface">Scarface</md-option>
                                    </md-select>
                                  </md-field>-->

                                    <md-autocomplete v-model="selectedCountry" :md-options="countries">
                                      <label>Country</label>
                                    </md-autocomplete>

                                    <md-autocomplete v-model="selectedEmployee" :md-options="employees" md-dense>
                                      <label>Employees</label>
                                    </md-autocomplete>

                                    <md-field>
                                        <label>Textarea with Autogrow</label>
                                        <md-textarea v-model="message" md-autogrow md-counter="240"></md-textarea>
                                    </md-field>

                                  <div>
                                    <strong>Selected movies:</strong>
                                    {{ selectedCountry }}
                                    {{ selectedEmployee }}
                                    {{ message }}
                                  </div>
                              </div>
                        </md-card-content>

                        <md-card-actions>
                            <md-button class="md-raised md-primary" v-on:click="sendMessage">Send</md-button>
                            <md-button class="md-raised md-primary" v-on:click="getItems">Cancel</md-button>
                        </md-card-actions>
                    </md-ripple>
                </md-card>
                </md-content>
            </md-tab>

            <md-tab id="tab-pages" md-label="Pages" style="background: rgb(238, 238, 238)">
                <md-content style="height: 80vh;background: rgb(238, 238, 238)">
                  <md-card md-with-hover style="width: 50%; height1: 50vh; margin: auto;">
                    <md-ripple>
                        <md-card-header>
                          <div class="md-title">Card with hover effect</div>
                          <div class="md-subhead">It also have a ripple</div>
                        </md-card-header>

                        <md-card-content>
                            <md-field>
                              <label>Password toggle</label>
                              <md-input v-model="password" type="password"></md-input>
                            </md-field>

                            <md-field :class="messageClassName">
                              <label>Name</label>
                              <md-input v-model="name" required v-on:keypress="hasMessagesName=false"></md-input>
                              <span class="md-error">There is an error</span>
                            </md-field>

                            <md-field :class="messageClass">
                              <label>Textarea</label>
                              <md-textarea v-model="textarea" required v-on:keypress="hasMessages=false"></md-textarea>
                              <span class="md-helper-text">Helper text</span>
                              <span class="md-error">There is an error</span>
                            </md-field>

                            <md-switch v-model="hasMessages">{{ !hasMessages ? 'Show' : 'Hide' }} Errors</md-switch>
                            <md-button class="md-raised md-primary" v-on:click="checkInputs">Send</md-button>
                        </md-card-content>
                        </md-ripple>
                    </md-card>
                </md-content>
            </md-tab>

        </md-tabs>

        <md-snackbar md-position="left" :md-duration="isInfinity ? Infinity : duration" :md-active.sync="showSnackbar" md-persistent>
          <span>Connection timeout. Showing limited messages!</span>
          <md-button class="md-primary" @click="showSnackbar = false">Retry</md-button>
        </md-snackbar>

    </div>
`,
        data: () => ({
            items: [],
            duration: 4000,
            showSnackbar: false,
            isInfinity: false,
            loading: true,
            selectedMovies: [],
            message: null,
            selectedCountry: null,
            selectedEmployee: null,
            countries: [
                'Algeria',
                'Argentina',
                'Brazil',
                'Canada',
                'Italy',
                'Japan',
                'United Kingdom',
                'United States'
            ],
            employees:[],
            employeesObject:[],
            employees0:[
                { id: 1, name: "Jim Halpert" },
                { id: 2, name: "Dwight Schrute" },
                { id: 3, name: "Michael Scott" },
                { id: 4, name: "Pam Beesly" },
                { id: 5, name: "Angela Martin" },
                { id: 6, name: "Kelly Kapoor" },
                { id: 7, name: "Ryan Howard" },
                { id: 8, name: "Kevin Malone" },
                { id: 9, name: "Creed Bratton" },
            ],
            employees1: [
                'Jim Halpert',
                'Dwight Schrute',
                'Michael Scott',
                'Pam Beesly',
                'Angela Martin',
                'Kelly Kapoor',
                'Ryan Howard',
                'Kevin Malone',
                'Creed Bratton',
                'Oscar Nunez',
                'Toby Flenderson',
                'Stanley Hudson',
                'Meredith Palmer',
                'Phyllis Lapin-Vance'
            ],
            noError: null,
            required: null,
            password: 12345,
            name: null,
            textarea: null,
            hasMessages: false,
            hasMessagesName: false
        }),
        computed: {
            messageClass () {
                return {
                    'md-invalid': this.hasMessages
                }
            },
            messageClassName () {
                return {
                    'md-invalid': this.hasMessagesName
                }
            }
        },
        created() {
            this.getItems();
        },
        methods: {
            sendMessage() {
                const id = this.employeesObject.filter(item => item.name === this.selectedEmployee)[0].id;
                this.showSnackbar = true;
                this.NotifyUserById(id, this.message);
                this.selectedEmployee = '';
                this.message = '';
            },
            NotifyAllUsers() {
                axios.post('http://localhost:7000/api/Notification/NotifyAllUsers',
                    {
                        message: 'Test message'
                    },
                    {
                        withCredentials: true,
                    })
                    .then(result => {
                        console.log(result)
                    })
                    .catch(error => {
                    });
            },
            NotifyUserById(id, message) {
                axios.post('http://localhost:7000/api/Notification/NotifyUser?userId=' + id,
                    {
                        body: message
                    },
                    {
                        withCredentials: true,
                    })
                    .then(result => {
                        console.log(result)
                        this.$router.push('/certification-items');
                    })
                    .catch(error => {
                    });
            },
            getItems() {
                axios.get('http://localhost:5000/api/Admin/GetAllUsers',
                    {
                        withCredentials: true,
                        headers: {
                            'Access-Control-Allow-Origin': 'localhost:3000',
                        },
                    })
                    .then(result => {
                        this.employees = result.data.filter(item => item.name !== null);
                        this.employeesObject = [...this.employees];
                        this.employees = this.employees.map((item) => {
                            return item.name;
                        });
                        this.searched = this.items;
                    })
                    .catch(error => {
                    });
            },
            checkInputs() {
                console.log(this.name)
                if (!this.name) {
                    this.hasMessagesName = true;
                }
            }
        }
    });

    Vue.component('certification-items', {
        template: `
		  <div>
		  <md-speed-dial style="position: absolute; z-index: 22; bottom: 100px;right: 100px;">
              <md-speed-dial-target v-on:click="showDetails">
                <md-icon>add</md-icon>
              </md-speed-dial-target>
            </md-speed-dial>

			<md-table v-model="searched" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
			  <md-table-toolbar>
				<div class="md-toolbar-section-start">
				  <h1 class="md-title">Messages ({{ searched.length }})</h1>
				</div>

				<md-field md-clearable class="md-toolbar-section-end">
				  <md-input placeholder="Search by name..." v-model="search" @input="searchOnTable"/>
				</md-field>
			  </md-table-toolbar>
              {{ count }}

			  <md-table-empty-state>
                <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
			  </md-table-empty-state>

			  <md-table-row slot="md-table-row" slot-scope="{ item }" v-on:click="showDetails(item)">
	<!--			<md-table-cell md-label="ID" md-sort-by="id" md-numeric>{{ item.id }}</md-table-cell>-->
				<md-table-cell md-label="Name" md-sort-by="name">{{ item.name }}</md-table-cell>

				<md-table-cell md-label="Message" md-sort-by="body">{{ item.body }}</md-table-cell>
				<md-table-cell md-label="Date" md-sort-by="dateUtcMs">{{ item.date }}</md-table-cell>
				<md-table-cell md-label="Role" md-sort-by="role">{{ item.role }}</md-table-cell>
			  </md-table-row>
			</md-table>

  		</div>`,
        data: () => ({
            items: [],
            search: null,
            count: 0,
            searched: [],
        }),
        created() {
            this.getItems();
            this.searched = this.items
        },
        methods: {
            getItems() {
                //axios.get('http://localhost:5000/api/Admin/GetAllUsers',
                axios.get('http://localhost:5000/api/Notification/GetNotificationRequests',
                    {
                        withCredentials: true,
                        headers: {
                            'Access-Control-Allow-Origin': 'localhost:3000',
                        },
                    })
                    .then(result => {
                        this.items = result.data.requests.map((item) => {
                            let role, date;
                            date = moment(item.dateUtcMs).format('DD.MM.YYYY hh:mm:ss');

                            switch (item.recipient.type) {
                                case 1: role = 'User'; break;
                                case 2: role = 'AllUsers'; break;
                                case 3: role = 'Restaurant'; break;
                                case 4: role = 'Chain'; break;
                                default: break;
                            }
                            return {
                                ...item,
                                'name': (item.recipient.name ? item.recipient.name : ''),
                                'role': role,
                                'date': date
                            }
                        }).sort(this.sort);

                        this.searched = this.items;
                    })
                    .catch(error => {
                    });
            },
            sort(a, b) {
                return parseInt(b.id) - parseInt(a.id);
            },
            searchOnTable() {
                this.searched = this.searchByName(this.items, this.search)
            },
            searchByName(items, term) {
                if (term) {
                    return items.filter(item => this.toLower(item.name).includes(this.toLower(term)))
                }
                return items
            },
            toLower(text) {
                return text.toString().toLowerCase()
            },
            showDetails(item) {
                appConfig.item = item;
                this.$router.push('/select-items');
            },
        }
    });

    Vue.component('users-items', {
        template: `
		  <div>
		  <md-speed-dial style="position: absolute; z-index: 22; bottom: 100px;right: 100px;">
              <md-speed-dial-target v-on:click="showDetails">
                <md-icon>add</md-icon>
              </md-speed-dial-target>
            </md-speed-dial>

			<md-table v-model="searched" md-sort="name" md-sort-order="asc" md-card md-fixed-header>
			  <md-table-toolbar>
				<div class="md-toolbar-section-start">
				  <h1 class="md-title">Users ({{ searched.length }})</h1>
				</div>

				<md-field md-clearable class="md-toolbar-section-end">
				  <md-input placeholder="Search by name..." v-model="search" @input="searchOnTable"/>
				</md-field>
			  </md-table-toolbar>
              {{ count }}

			  <md-table-empty-state>
                <md-progress-spinner :md-diameter="100" :md-stroke="10" md-mode="indeterminate"></md-progress-spinner>
			  </md-table-empty-state>

			  <md-table-row slot="md-table-row" slot-scope="{ item }" v-on:click="showDetails(item)">
				<md-table-cell md-label="Login" md-sort-by="name">{{ item.name }}</md-table-cell>
				<md-table-cell md-label="Password" md-sort-by="pass">{{ item.pass }}</md-table-cell>
				<md-table-cell md-label="Description" md-sort-by="description">{{ item.description }}</md-table-cell>
			  </md-table-row>
			</md-table>

  		</div>`,
        data: () => ({
            items: [],
            search: null,
            count: 0,
            searched: [],
        }),
        created() {
            this.getItems();
            this.searched = this.items
        },
        methods: {
            getItems() {
                this.$http.get('http://ui-base.herokuapp.com/api/users/get')
                    .then(result => {
                        this.items = result.data.sort(this.sort);
                        this.filteredItems = result.data.sort(this.sort);
                        this.searched = this.items;
                    })
                    .catch(error => {
                    });
            },
            sort(a, b) {
                return parseInt(b.id) - parseInt(a.id);
            },
            searchOnTable() {
                this.searched = this.searchByName(this.items, this.search)
            },
            searchByName(items, term) {
                if (term) {
                    return items.filter(item => this.toLower(item.name).includes(this.toLower(term)))
                }
                return items
            },
            toLower(text) {
                return text.toString().toLowerCase()
            },
            showDetails(item) {
                appConfig.item = item;
                this.$router.push('/user-edit');
            },
        }
    });

    Vue.component('user-edit', {
        template: `
		    <div style="width:500px; margin: auto; padding-top: 5vh; min-width: 300px">
                <form novalidate class="md-layout" @submit.prevent="saveUser">
                  <md-card class="md-layout-item md-size-100 md-small-size-50">
                    <md-card-header>
                      <div class="md-title">{{ form.title }}</div>
                    </md-card-header>

                    <md-card-content>
                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="id">ID</label>
                            <md-input name="id" id="id" autocomplete="id" v-model="form.id" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="name">Name</label>
                            <md-input name="name" id="name" autocomplete="name" v-model="form.name" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="phone">Phone</label>
                            <md-input name="phone" id="phone" autocomplete="phone" v-model="form.phone" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="street">Street</label>
                            <md-input name="street" id="street" autocomplete="street" v-model="form.street" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="house">house</label>
                            <md-input name="house" id="house" autocomplete="house" v-model="form.house" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="apt">Apt</label>
                            <md-input name="apt" id="apt" autocomplete="apt" v-model="form.apt" :disabled="sending" />
                          </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                          <md-field>
                            <label for="index">Postal Codes</label>
                            <md-input name="index" id="index" autocomplete="index" v-model="form.index" :disabled="sending" />
                          </md-field>
                        </div>
                    </md-card-content>

                    <md-progress-bar md-mode="indeterminate" v-if="sending" />

                    <md-card-actions style="margin-bottom: 20px;">
                      <md-button class="md-raised md-primary" v-on:click="userEdit">Submit</md-button>
                      <md-button class="md-raised md-primary" v-on:click="back">Delete</md-button>
                    </md-card-actions>
                  </md-card>

                  <md-snackbar :md-active.sync="userSaved" md-position="left">The user {{ lastUser }} was saved with success!</md-snackbar>
                </form>
  		</div>`,
        data: () => ({
            form: {
                title: 'Add new item',
                id: null,
                name: null,
                phone: null,
                street: null,
                house: null,
                apt: null,
                index: null,
            },
            userSaved: true,
            sending: false,
            lastUser: null
        }),
        created() {
            if (!appConfig.item) {
                this.$router.push('/users-items');
            } else {
                this.init();
            }
        },
        methods: {
            init() {
                this.form = appConfig.item;
                this.form.title = appConfig.item.name;
            },
            userEdit() {
                this.$router.push('/users-items');
            },
            back() {
                this.$router.push('/users-items');
            },
            clearForm() {
                this.$v.$reset()
                this.form.firstName = null
                this.form.lastName = null
                this.form.age = null
                this.form.gender = null
                this.form.email = null
            },
            saveUser() {
                this.sending = true

                // Instead of this timeout, here you can call your API
                window.setTimeout(() => {
                    this.lastUser = `${this.form.firstName} ${this.form.lastName}`
                    this.userSaved = true
                    this.sending = false
                    this.clearForm()
                }, 1500)
            },

        }
    });

    Vue.use(VueMaterial.default);

    const routes = [
        {path: '/', component: Base},
        {path: '*', component: Base},
        {path: '/list', component: List},
        {path: '/table', component: Table},
        {path: '/base', component: Base},
        {path: '/base-item-show', component: BaseItemShow},
        {path: '/certification-items', component: CertificationItems},
        {path: '/select-items', component: SelectItems},
        {path: '/users-items', component: UsersItems},
        {path: '/user-add', component: UserAdd},
        {path: '/user-edit', component: UserEdit},
    ];

    const router = new VueRouter({
        routes,
    });

    new Vue({
        el: '#app',
        router,
        data: () => ({
            menuVisible: false,
        })
    })

    // https://mrtomato-qa.dev.trustsourcing.com/standarts-categories
    // sprint16tomato@mailinator.com
</script>
</body>
</html>